<div class="space-y-4 sm:space-y-6">
  <div class="flex items-center justify-between">
    <h1 class="text-xl sm:text-2xl font-bold text-gray-900"><%= t("curator.audio_tours.new") %></h1>
    <%= link_to t("curator.audio_tours.back_to_list"), curator_audio_tours_path, class: "text-sm text-emerald-600 hover:text-emerald-900" %>
  </div>

  <%= render "form", audio_tour: @audio_tour %>
</div>
